.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.5s;
}
.Nav__Left__Subnav {
  margin-left: 0.8rem;
  display: flex;
  flex: 0.45;
  justify-content: space-between;
  align-items: center;
}
.Nav__Left__Subnav > a {
  margin-left: 18px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
/* .Nav__Logo {
  margin-left: 1rem;
  object-fit: contain;
  width: 140px;
} */
.Nav__Demo {
  font-weight: 700;
  color: red;
}
.Nav__Hamburger {
  display: none;
  width: 48px;
  margin-left: auto;
  margin-right: 0.8rem;
}
.Nav__Hamburger__Image {
  width: 48px;
}
.Nav__Login {
  color: rgb(0, 164, 175);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.Nav__Login:hover {
  background-color: rgb(238, 238, 238);
  transition: all 0.2s;
}
.Nav__Login__child {
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 992px) {
  .Nav__Login {
    display: none;
  }
  .Nav__Left__Subnav > a {
    display: none;
  }
  .Nav__Hamburger {
    display: inline-block;
  }
}
